{% extends "./base.html" %}

{% block title %}Course management{% endblock%}

{% block body %}
<!--Jinja 2 || template engine || to process data-->
<h1>We are already on the course management page!</h1>

<ul>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4"> 
            <h2>Gestion de cursos</h2>
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="from-group">
                            <input type="text" id="txtId" name="txtId" class="form-control" placeholder="id" minlength="1" maxlength="6" required>                            
                        </div>
                        <div class="from-group">
                            <input type="text" id="txtName" name="txtName" class="form-control" placeholder="name"  maxlength="50" required>                            
                        </div>
                        <div class="from-group">
                            <input type="text" id="txtCredits" name="txtCredits" class="form-control" min="1" max="9" required placeholder="credits">                            
                        </div>
                        <div class="from-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Save</button>                        
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8"> 
            <h1>List of courses</h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id:</th>
                            <th>Name:</th>
                            <th>Credits:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in grades %}
                        <tr>
                            <td>{{c.id}}</td>   
                            <td>{{c.name}}</td>               
                            <td>{{c.credits}}</td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ul>
{% endblock %}